.main {
  margin: 20px;
}

.options-bar {
  padding-top: 10px;
}

.header {
  color: #35B1EF;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 30px;
  border-bottom: 1px solid #EEE;
}

.reps {
  display: flex;
}
